<!DOCTYPE html>
<html>
<head>
	<title>canvas</title>
	<link rel="stylesheet" type="text/css" href="src/css/style.css">
	<script type="text/javascript" src="src/js/canvas.js"></script>
	<link rel="stylesheet" type="text/css" href="lib/css/bootstrap.css">
	<script type="text/javascript" src="lib/js/jquery.js"></script>
	<script type="text/javascript" src="lib/js/bootstrap.js"></script>
</head>
<body>
	{{ name }}
	<div class="wrapper">
		<br />
		<br />
		<br />
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<canvas id="canvas" class="canvas" width="500vw" height="500vh">
					Y'a pas de canvas avec ce navigateur
				</canvas>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
</body>
</html>